<template>
  <div id="abcSample">
    <AbcScore :tune="score" :options="options" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import AbcScore from './AbcScore.vue'
import { sampleScore } from '../../API/ABCTest'

@Component({
  components: {
    AbcScore
  }
})
export default class AbcSample extends Vue {
  score: string = sampleScore
  options: Record<string, any> = { staffwidth: 300 }
}
</script>

<style lang="scss" scoped>
.sampleABC {
  text-align: left;
}
</style>
