<template>
  <div class="abcScore">
    <div :id="getAudioId"></div>
    <ScoreBottomMenu />
    <div class="container is-widescreen">
      <div :id="getPlayerId"></div>
    </div>
    <div :id="getId" ref="visual"></div>
    <p class="beat"></p>
    <p class="dbgVisual"></p>
    <pre class="feedback"></pre>
  </div>
</template>

<script lang="ts">
const DEBUG = false

import { Vue, Prop, Component } from 'vue-property-decorator'
import { EventBus } from '../../event-bus'

import * as _ from 'lodash'

import abcjs from 'abcjs'

// import 'abcjs/abcjs-midi.css'
import 'abcjs/abcjs-audio.css'

import { globalOptions } from '../../GlobalOptions'
import { ExternalAPI } from '../../API/ExternalApi'
import { logger } from '../../../../common/lib/ABCLogger'
import {
  ScoreBottomMenuMessage,
  NoteColoringMessage
} from '../../API/CommonTypes'

import ScoreBottomMenu from './ScoreBottomMenu.vue'

@Component({
  components: {
    ScoreBottomMenu
  }
})

/*=================================================*/
/* gentry point for JSCALLERS follows               */
/*=================================================*/
export default class AbcScore extends Vue {
  rendered: abcjs.TuneObjectArray = null
  synthControl: abcjs.SynthObjectController
  selectedNote: any = null
  progress: any = null
  currentAbcFragment = '(none)'
  midi: abcjs.MidiFile = null
  beatDiv: HTMLElement = null
  lastNote: any = null
  audioReady = false
  transposeBy = 0
  audioIniting = false
  cursor: SVGElement = null

  @Prop({ default: null }) tune: string
  @Prop({ default: {} }) options: any
  @Prop({ default: 0 }) instrument: number
  @Prop({ default: 0 }) bpm: number
  @Prop({ default: 0 }) tuneNumber: number
  @Prop({ default: 0 }) tuneId: string

  mounted() {
    this.options.scale = globalOptions.abcZoom
    this.options.responsive = 'resize' // initially fit screen
    this.$nextTick(function () {
      //  DOM has been udated
      // `this` is current instance
      this.show()
    })
    EventBus.$on(
      'ScoreBottomMenuMessage',
      (bottomMsg: ScoreBottomMenuMessage) => {
        logger.debug('ScoreBottomMenuEvent selected')
        if (bottomMsg.downLoadMidi) {
          this.midiDownload()
        } else {
          this.doTranspose(bottomMsg.transpose)
        }
      }
    )
    EventBus.$on('NoteColoringChange', (noteInfo: NoteColoringMessage) => {
      if (noteInfo.highlight) {
        this.highlightNote(noteInfo.start, noteInfo.end, noteInfo.color)
      } else {
        this.unHighlightNote(noteInfo.start, noteInfo.end)
      }
    })
  }

  //
  // computed: {
  //
  // unique id provided or defaulted
  get getId(): string {
    if (_.isNil(this.tuneId)) {
      return 'paper' // default
    }
    return 'abcTuneId' + this.tuneId
  }

  get getAudioId(): string {
    if (_.isNil(this.tuneId)) {
      return 'audio' // default
    }
    return 'abcAudioId' + this.tuneId
  }

  get getPlayerId(): string {
    if (_.isNil(this.tuneId)) {
      return 'midi-player' // default
    }
    return this.tuneId + '-player'
  }

  //
  // methods
  //
  /*
    Apple NSHtmlView specific callback
    NB : Callee will assume that msg is a JSON parsable structure
    based on swift EntryPointArgs struct
  */
  webViewCallBack(tune: string, abcElem: any, tuneNumber: number) {
    console.log('entering callback')
    const length = abcElem.endChar - abcElem.startChar
    const callback = new ExternalAPI()
    const args = [
      tuneNumber,
      abcElem.startChar,
      length,
      tune.substr(abcElem.startChar, length)
    ]
    callback.iosCallBack('SVGViewController', 'ScoreSelection', args)
  }

  private getAbcElem(start: number, end: number): any {
    const lines = this.rendered[0].lines
    for (let ii = 0; ii < lines.length; ii++) {
      const staffGroup = lines[ii].staffGroup
      for (let jj = 0; jj < staffGroup.voices.length; jj++) {
        const voice = staffGroup.voices[jj]
        const elems = voice.children
        for (let kk = 0; kk < elems.length; kk++) {
          const elem = elems[kk]
          const abcElem = elem.abcelem
          if (abcElem.startChar != null) {
            const elStart = abcElem.startChar
            // console.log(elStart) ;
            const elEnd = abcElem.endChar
            if (
              (end > elStart && start < elEnd) ||
              (end === start && end === elEnd)
            ) {
              return elem
            }
          }
        }
      }
    }
    return undefined
  }

  highlightNote(start: number, end: number, coloring: string) {
    const element = this.getAbcElem(start, end)
    if (element != undefined) {
      element.highlight('abcjs-note_selected', coloring)
    }
  }

  unHighlightNote(start: number, end: number) {
    const element = this.getAbcElem(start, end)
    if (element != undefined) {
      element.unhighlight('abcjs-note_selected')
    }
  }

  private buildCursor(): SVGElement {
    const cursor = document.createElementNS(
      'http://www.w3.org/2000/svg',
      'cursor'
    )
    cursor.setAttribute('class', 'abcjs-cursor')
    cursor.setAttributeNS(null, 'x1', '0')
    cursor.setAttributeNS(null, 'y1', '0')
    cursor.setAttributeNS(null, 'x2', '0')
    cursor.setAttributeNS(null, 'y2', '0')
    return cursor
  }

  private setCursor(cursor: SVGElement, event: any) {
    if (cursor) {
      cursor.setAttribute('x1', `${event.left} - 2`)
      cursor.setAttribute('x2', `${event.left} - 2`)
      cursor.setAttribute('y1', `${event.top}`)
      cursor.setAttribute('y2', `${event.top} + ${event.height}`)
    }
  }

  private eventDebug(event: any) {
    if (event.measureStart && event.left === null) {
      return // this was the second part of a tie across a measure line. Just ignore it.
    }
    const lastSelection = document.querySelectorAll(
      `#${this.getId} svg .highlight`
    )
    for (let k = 0; k < lastSelection.length; k++) {
      lastSelection[k].classList.remove('highlight')
    }
    document.querySelector('.feedback').innerHTML =
      // eslint-disable-next-line
      "<div class='label'>Current Note:</div>" + JSON.stringify(event, null, 4)
    for (let i = 0; i < event.elements.length; i++) {
      const note = event.elements[i]
      for (let j = 0; j < note.length; j++) {
        note[j].classList.add('highlight')
      }
    }
    this.setCursor(this.cursor, event)
  }

  private beatDebug(beatNumber: number, totalBeats: number, totalTime: number) {
    if (!this.beatDiv) {
      this.beatDiv = document.querySelector('.beat')
    }
    this.beatDiv.innerText =
      'Beat: ' +
      beatNumber +
      ' Total: ' +
      totalBeats +
      ' Total time: ' +
      totalTime
  }

  private setAudio(userAction: boolean) {
    const self = this
    self.audioIniting = true

    if (abcjs.synth.supportsAudio()) {
      console.log('audio is supported')
      const cursorControl: abcjs.CursorControl = {
        beatSubDivision: 2,

        onStart() {
          logger.debug('The tune has started playing.')
          if (!self.audioReady) {
            logger.error('AUDIO midi not ready')
          } else {
            self.beatDiv = null
            const svgElem = (self.$refs['visual'] as HTMLElement)
              .firstElementChild
            if (DEBUG) {
              self.cursor = self.buildCursor()
              svgElem.appendChild(self.cursor)
            }
          }
        },

        onFinished() {
          logger.debug('The tune has stopped playing.')
        },

        onBeat(beatNumber: number, totalBeats: number, totalTime: number) {
          logger.debug('Beat ' + beatNumber + ' is happening.')
          if (DEBUG) {
            self.beatDebug(beatNumber, totalBeats, totalTime)
          }
        },

        onEvent(event: any) {
          logger.debug('An event is happening', event)
          self.animate(self.lastNote, event)
          self.lastNote = event
          if (DEBUG) {
            self.eventDebug(event)
          }
        }
      }
      // init once
      if (self.synthControl == null) {
        self.synthControl = new abcjs.synth.SynthController()
        self.synthControl.disable(true)
      }
      self.synthControl.load('#' + this.getAudioId, cursorControl, {
        displayLoop: true,
        displayRestart: true,
        displayPlay: true,
        displayProgress: true,
        displayWarp: true
      })
      // store midi content for downloading requests
      self.midi = abcjs.synth.getMidiFile(this.tune, {
        midiOutputType: 'encoded'
      })
      // const midiButton = this.$refs['midi'] as HTMLElement
      // midiButton.innerHTML = this.midi
      const midiBuffer = new abcjs.synth.CreateSynth()
      midiBuffer
        .init({
          visualObj: self.rendered[0],
          millisecondsPerMeasure: 1000,
          debugCallback: function (message: any) {
            logger.debug(message)
          },
          options: {}
        })
        .then((response) => {
          console.log(response)
          if (self.synthControl != null) {
            self.synthControl
              .setTune(self.rendered[0], userAction)
              .then(() => {
                logger.info('audio has been loaded')
                self.audioReady = true
                self.audioIniting = false
              })
              .catch((error) => {
                logger.error(`setTune audio error : ${error}`)
                self.audioIniting = false
              })
          }
        })
        .catch((error) => {
          logger.error(`init audio error : ${error}`)
        })
    }
  }

  scoreClicked(event: any) {
    logger.debug('score has been clicked')
    this.webViewCallBack(this.tune, event.abselem.abcelem, this.tuneNumber)
  }

  show() {
    if (!this.audioIniting) {
      // transposition required if not 0
      this.options.visualTranspose = this.transposeBy
      this.options.startingTune = this.tuneNumber
      this.options.clickListener = this.scoreClicked
      this.rendered = abcjs.renderAbc(
        this.getId,
        this.tune,
        this.options // parser params
      )
      this.setAudio(true) // prevent initing twice
    }
  }

  listener(midiControl: any, progress: any) {
    // This provides a more linear view of the progress, for a progress bar or for an unrelated animation.
    this.progress = progress
  }

  colorRange(range: any, color: string) {
    if (range && range.elements) {
      range.elements.forEach(function (set: any) {
        set.forEach(function (item: any) {
          item.setAttribute('fill', color)
        })
      })
    }
  }

  private animate(lastRange: any, currentRange: any) {
    // This provides the actual visual note being played. It can be used to create the "bouncing ball" effect.
    this.colorRange(lastRange, '#000000') // Set the old note back to black.
    this.colorRange(currentRange, '#3D9AFC') // Set the currently sounding note to blue.
    if (currentRange) {
      this.currentAbcFragment = this.tune.substring(
        currentRange.startChar,
        currentRange.endChar
      )
    } else {
      this.currentAbcFragment = '(none)'
    }
  }

  private doTranspose(transpose: number) {
    this.transposeBy = transpose
    this.show()
  }

  private midiDownload() {
    logger.debug('proceed with midi download')
  }

  zoom(zoom: number) {
    this.options.scale = zoom
    delete this.options.responsive // back to manual sizing
    this.show()
  }
}
</script>

<style lang="scss">
@import '../../../public/font-awesome/css/font-awesome.min.css';
.abcScore {
  text-align: left;
}
.abcjs-inline-midi {
  background-color: #d6d7d8;
}

.abcjs-midi-progress-background {
  background-color: #bbb9b9 !important ;
}

.abcjs-cursor {
  stroke: #ff0000;
}

.beat {
  font-weight: bold;
}
</style>
