<template>
  <!-- Main container -->
  <div id="top-container" class="container is-fullhd">
    <button class="button is-ghost is-small" v-on:click="midiDownload">
      Download midi
    </button>
    <label class="transpose-half-steps is-small"
      >Transpose half-steps:
      <input
        type="number"
        min="-24"
        max="24"
        step="1"
        value="0"
        ref="transposeElmt"
        v-on:change="transposeChanged"
      />
    </label>
  </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'
import { logger } from '../../../../common/lib/ABCLogger'
import { ScoreBottomMenuMessage } from '../../API/CommonTypes'
import { EventBus } from '../../event-bus'

@Component
export default class ScoreBottomMenu extends Vue {
  // @Prop({ default: 'Money Lost' }) title: string
  $refs!: {
    transposeElmt: HTMLInputElement
  }

  mounted() {
    logger.debug('ScoreBottomMenu mounted')
  }

  //
  // transfer midi buffer to client side
  //
  private midiDownload() {
    logger.debug('Downloading midi')
    const msg: ScoreBottomMenuMessage = { transpose: null, downLoadMidi: true }
    EventBus.$emit('ScoreBottomMenuMessage', msg)
  }

  private transposeChanged(event: any) {
    logger.debug('transpose request changed')
    const transpse = this.$refs.transposeElmt.valueAsNumber
    const msg: ScoreBottomMenuMessage = {
      transpose: transpse,
      downLoadMidi: null
    }
    EventBus.$emit('ScoreBottomMenuMessage', msg)
  }
}
</script>

<style lang="scss" scoped>
.transpose-half-steps {
  padding-left: 1em;
}

#top-container {
  padding-top: 5px;
}
</style>
