<template>
  <!-- Main container -->
  <div>
    <nav id="ScoreTitleBar" class="level is-mobile">
      <!-- Left side -->
      <div class="level-left">
        <div id="title" class="level-item">
          <p class="subtitle is-4">{{ title }}</p>
        </div>
      </div>

      <!-- Right side -->
      <div id="menus" class="level-right">
        <ABCIcon
          class="button"
          iconName="search-plus"
          size="lg"
          :clicked="zoomIn"
          :disabled="false"
        />
        <ABCIcon
          class="button"
          iconName="search-minus"
          size="lg"
          :clicked="zoomOut"
          :disabled="false"
        />
        <span v-for="btn in btns" :key="btn.label">
          <ScoreTitleButton
            :clicked="btnClicked"
            :label="btn.label"
            :disabled="btn.disabled"
          />
        </span>
      </div>
    </nav>
    <component
      ref="mainPage"
      id="anchorPoint"
      :is="currentComponent"
      :key="currentKey"
    >
    </component>
  </div>
</template>

<script lang="ts">
// Import the EventBus.
import { Component, Vue } from 'vue-property-decorator'

import { globalOptions } from '../../GlobalOptions'
import { EventBus } from '../../event-bus'
import { logger } from '../../../../common/lib/ABCLogger'
import store from '../../store/store'
import { AbcIOSPeerAPI } from '../../API/ExternalApi'

import ScoreTitleButton from './ScoreTitleButton.vue'
import ABCIcon from '../common/ABCIcon.vue'
import WelcomePage from './WelcomePage.vue'
import AbcSample from './AbcSample.vue'
import AbcScore from './AbcScore.vue'

class Button {
  label: string
  disabled: boolean
  title: string

  constructor(label: string, disabled: boolean, title: string) {
    this.label = label
    this.disabled = disabled
    this.title = title
  }
}

const buttons = [
  new Button('Welcome', true, 'Welcome to ABCMusicStudio'),
  new Button('Abc', false, 'Abc score view')
]

@Component({
  components: {
    ScoreTitleButton,
    ABCIcon,
    WelcomePage,
    AbcSample
  }
})
export default class ScoreTitleBar extends Vue {
  public $refs: Vue['$refs'] & {
    mainPage: any
  }

  currentSelected: any = null
  currentKey = 0
  btns: Button[] = buttons
  curButton: Button = null
  id: number = null

  created() {
    logger.debug('ScoreTitleBar has been created')
    // build id
    this.id = store.state.scoreTitleBarID
    store.commit('incTitleBarID')
    this.populateID()
  }

  mounted() {
    // Listen for score change events.
    // => Dynamic score changes from external API
    logger.debug('ScoreTitleBar has been mounted')
    const self = this
    // Listen for ID vue instance only
    EventBus.$on(`ScoreDynamicChange${this.id}`, (newScoreInfo: any) => {
      logger.debug('NEW externalSCORE')
      if (newScoreInfo.type == 'Abc') {
        self.newExternalAbcScore(newScoreInfo)
      }
    })
  }

  private populateID() {
    const callback = new AbcIOSPeerAPI()
    callback.populateScoreTitleBarID(this.id)
  }

  beforeUpdate() {
    this.$nextTick(() => {
      console.log('in beforeUpdate') //DOESN'T GET HERE
    })
  }

  updated() {
    this.$nextTick(() => {
      console.log('in updated') //DOESN'T GET HERE
    })
  }

  //
  // computed:
  //
  get currentComponent(): any {
    if (this.currentSelected == null || this.currentSelected == 'Welcome') {
      return WelcomePage
    } else if (this.currentSelected == 'Abc') {
      return AbcSample
    } else if (this.currentSelected == 'DynamicAbcScore') {
      return this.currentSelected
    }
    return null
  }

  get title() {
    if (this.curButton == null) {
      return this.btns[0].title
    }
    return this.curButton.title
  }

  //
  // methods:
  //
  manageButtons(currentBtnLabel: string) {
    for (const btn of this.btns) {
      if (btn.label.trim() == currentBtnLabel) {
        this.curButton = btn
        btn.disabled = true
      } else {
        btn.disabled = false
      }
    }
  }

  btnClicked(event: any) {
    const clickedLabel = event.target.text.trim()
    this.currentKey = clickedLabel
    this.currentSelected = clickedLabel
    this.manageButtons(clickedLabel)
  }

  //
  // Abc Score dynamically populated from here
  //
  newExternalAbcScore(newScoreInfo: any) {
    Vue.component('DynamicAbcScore', {
      template:
        // eslint-disable-next-line max-len
        '<AbcScore ref="abcScore" :tune="score" :options="options" :instrument="instrument" :bpm="bpm" :tuneNumber="tuneNumber"/>',
      data: function () {
        return {
          score: newScoreInfo.score,
          tuneNumber: newScoreInfo.tuneNumber,
          options: newScoreInfo.options,
          instrument: newScoreInfo.midiProgram,
          bpm: newScoreInfo.bpm
        }
      },
      components: {
        AbcScore
      }
    })
    console.log(newScoreInfo.score)
    // IMPORTANT : refresk key to force dynamic component reload
    this.currentKey = Math.random()
    this.currentSelected = 'DynamicAbcScore'
    this.manageButtons('Abc')
    console.log('score dynamically modified')
  }

  getCurrentComponent(): any {
    return this.$refs.mainPage.$children[0]
  }

  zoomIn() {
    if (this.curButton != null) {
      let curZoom = null
      if (
        this.currentSelected == 'Abc' ||
        this.currentSelected == 'DynamicAbcScore'
      ) {
        globalOptions.abcZoom *= 1.2
        curZoom = globalOptions.abcZoom
      }
      console.log('zoom IN requested')
      const cur = this.getCurrentComponent()
      cur.zoom(curZoom)
    }
  }

  zoomOut() {
    if (this.curButton != null) {
      let curZoom = null
      if (
        this.currentSelected == 'Abc' ||
        this.currentSelected == 'DynamicAbcScore'
      ) {
        globalOptions.abcZoom /= 1.2
        curZoom = globalOptions.abcZoom
      } else if (
        this.currentSelected == 'Xml' ||
        this.currentSelected == 'DynamicXmlScore'
      ) {
        globalOptions.xmlZoom /= 1.2
        curZoom = globalOptions.xmlZoom
      }
      console.log('zoom OUTrequested')
      const cur = this.getCurrentComponent()
      cur.zoom(curZoom)
    }
  }
}
</script>

<style lang="scss" scoped>
#ScoreTitleBar {
  background-color: #eff0e7;
  margin-bottom: 0px;
}

#title {
  margin-left: 10px;
}
#title p {
  color: gray;
}

#anchorPoint {
  margin-top: 0px;
}
</style>
