/** Main menu dynamic buttons */
<template>
  <!-- Main container -->
  <span class="level-item">
    <a class="button" :disabled="disabled" v-on:click="clicked">{{ label }} </a>
  </span>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'

@Component
export default class ScoreTitleButton extends Vue {
  @Prop({ default: null }) label: string
  @Prop() clicked: Function
  @Prop({ default: false }) disabled: boolean
}
</script>
