<template>
  <div>
    <AbcStudioWelcome
      title="Abc WebXml studio score panel"
      message="This Panel will be used to display Abc and WebXml scores"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import AbcStudioWelcome from '../common/AbcStudioWelcome.vue'

@Component({
  components: {
    AbcStudioWelcome
  }
})
export default class WelcomePage extends Vue {}
</script>
