<template>
  <div id="app">
    <ABCAppHeader tittle="ABCMusicStudio" />
    <div class="container">
      <!-- component matched by the route will render here -->
      <router-view ref="centerView"></router-view>
    </div>
    <ABCAppFooter message="Copyright Jean-Yves Mengant 2020,2021" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import ABCAppHeader from './components/MainApp/ABCAppHeader.vue'
import ABCAppFooter from './components/MainApp/ABCAppFooter.vue'

@Component({
  components: {
    ABCAppHeader,
    ABCAppFooter
  }
})
export default class MyApp extends Vue {
  mounted() {
    console.log('MainApp Vue Mounted')
    this.addClass('has-navbar-fixed-top')
  }

  private addClass(className: string) {
    const el = document.body
    el.classList.add(className)
  }
}
</script>
