<template>
  <div id="app">
    <ScoreTitleBar ref="topBar" />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import ScoreTitleBar from './components/score/ScoreTitleBar.vue'
@Component({
  components: {
    ScoreTitleBar
  }
})
export default class ScoreApp extends Vue {}
</script>
