<template>
  <div class="MainPage">
    <h1 class="title is-4 PageTitleFontFamilly">{{ msg }}</h1>
    <div class="TopImage">
      <img alt="AbcMusicStudio logo" src="../assets/Screenshot_Wind.png" />
      <img
        class="Img-Top"
        alt="AbcMusicStudio logo"
        src="../assets/Screenshot_Wind_light.png"
      />
    </div>
    <p class="is-size-7">Dark or light customizable themes</p>
    <section class="section PageTextFontFamily">
      <section id="button-section">
        <button
          class="button GreenBackground is-large PageTextFontFamily"
          @click="goDownload"
        >
          Download ABCMusicStudio App for MACOSX
        </button>
      </section>
      <p>
        ABCMusic studio is an ABC standard music editor for MACOSX platforms
        More details in About Documentation and FAQ ...
      </p>
      <blog-list />
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import VueMarkdown from '@adapttive/vue-markdown'
import { MarkdownInserter } from './MarkdownInserter'
import router from '../router'
import { logger } from '../../../common/lib/ABCLogger'

import BlogList from '../views/BlogList.vue'

// eslint-disable-next-line
import Foo from '!raw-loader!../markdowns/test.md'

// eslint-disable-next-line
@Component({
  components: {
    VueMarkdown,
    BlogList
  }
})
export default class HomePage extends Vue {
  @Prop() private msg!: string

  mounted() {
    const inserter = new MarkdownInserter()
    inserter.insert(this.$refs.markInsert as HTMLElement, Foo)
  }

  goDownload() {
    logger.debug('going download')
    router.push({ name: 'download' })
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.section {
  padding-top: 1em;
}

#button-section {
  margin-bottom: 1em;
}
</style>
