/* Markdown-it integration */
<template>
  <div></div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'
import VueMarkdown from '@adapttive/vue-markdown'

@Component
export default class MarkdownABC extends Vue {
  @Prop({ default: null }) title: string
  @Prop({ default: null }) subtitle: string
}
</script>
