/* Markdown-it integration */
<template>
  <nav
    class="navbar is-fixed-top has-shadow"
    role="navigation"
    aria-label="main navigation"
  >
    <!-- Left side -->
    <div class="navbar-brand">
      <a class="navbar-item" role="button" :clicked="goHome">
        <figure class="image is-48x48">
          <img
            :clicked="goHome"
            id="navbar-image"
            class="is-rounded"
            src="../assets/TopViolin.png"
          />
        </figure>
      </a>
      <div id="title" class="navbar-item">
        <a class="subtitle is-4">{{ tittle }}</a>
      </div>
      <a
        class="navbar-burger burger"
        role="button"
        :class="{ 'is-active': burgerOpen }"
        aria-label="menu"
        aria-expanded="false"
        @click="burgerClicked"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div
      id="NavbarMenu"
      class="navbar-menu"
      :class="{ 'is-active': burgerOpen }"
    >
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Product Information </a>
          <div class="navbar-dropdown">
            <a
              id="documentation"
              class="navbar-item"
              @click="handleSelectedItem"
              >Documentation</a
            >
            <a id="faq" @click="handleSelectedItem" class="navbar-item">FAQ</a>
            <a id="bugs" class="navbar-item" @click="handleSelectedItem"
              >Bug reporting and features</a
            >
            <a id="about" class="navbar-item" @click="handleSelectedItem"
              >About</a
            >
            <a id="links" class="navbar-item" @click="handleSelectedItem"
              >Links</a
            >
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link"> Development </a>
          <div class="navbar-dropdown">
            <a id="contribute" class="navbar-item" @click="handleSelectedItem"
              >Contributing page</a
            >
            <a id="repository" class="navbar-item" @click="goGitlab"
              >Gitlab repository</a
            >
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <PageIcon
              class="button navbar-button margin-right-1"
              id="gitlab"
              size="lg"
              :iconName="['fab', 'gitlab']"
              :clicked="goGitlab"
              :disabled="false"
            />
            <PageIcon
              class="button navbar-button"
              id="homeSwitch"
              size="lg"
              iconName="home"
              :clicked="goHome"
              :disabled="false"
            />
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'
import PageIcon from './PageIcon.vue'
import { logger } from '../../../common/lib/ABCLogger'
import router from '../router'

@Component({
  components: {
    PageIcon
  }
})
export default class PageHeader extends Vue {
  @Prop({ default: null })
  tittle: string
  selectedItem: HTMLElement | null = null
  burgerOpen = false

  goGitlab() {
    logger.debug('going gitlab')
    window.open('https://gitlab.com/jymen/abcmusicstudio')
  }

  goHome() {
    logger.debug('going Home')
    router.push({ name: 'home' })
  }

  burgerClicked() {
    console.log('burger clicked')
    this.burgerOpen = !this.burgerOpen
  }

  handleSelectedItem(e: MouseEvent) {
    if (this.selectedItem != null) {
      this.selectedItem.classList.remove('is-active')
    }
    this.selectedItem = e.currentTarget as HTMLElement
    this.selectedItem.classList.add('is-active')
    if (this.selectedItem.id == 'bugs') {
      window.open('https://gitlab.com/jymen/abcmusicstudio/-/issues')
    } else {
      router.push({ name: this.selectedItem.id })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../sass/global.scss';

#navbar-image {
  max-height: 3.75em;
}

#title {
  @extend .PageTitleFontFamilly;
  margin-bottom: unset;
  padding-right: 1em;
}
#title a {
  color: var(--tittle-color);
}

.navABCHeader-buttongroup .navbar-item {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.margin-right-1 {
  margin-right: 1em;
}
</style>
