<template>
  <footer class="footer fix-footer">
    <div class="content has-text-centered messageColor PageTitleFontFamilly">
      <p>{{ message }}</p>
    </div>
  </footer>
</template>

<script lang="ts">
import { Prop, Vue, Component } from 'vue-property-decorator'

@Component
export default class PageFooter extends Vue {
  @Prop({ default: null }) message: string

  mounted() {}
}
</script>

<style lang="scss" scoped>
.fix-footer {
  z-index: 999;
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  padding: 0.5em;
}

.messageColor {
  color: var(--footer-text-color);
}

.errorColor {
  color: var(--footer-error-color);
}
</style>
