/** Main menu dynamic icons button */
<template>
  <!-- Main container -->
  <span :class="{ 'not-allowed': disabled }" class="level-item">
    <a
      class="abcicon"
      :class="[{ 'is-small': small }, { 'disabled-link': disabled }]"
      v-on:click="clicked"
    >
      <font-awesome-icon :icon="iconName" :size="size" prefix="fab" />
    </a>
  </span>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'

@Component
export default class PageIcon extends Vue {
  @Prop({ default: null }) iconName: string
  @Prop({ default: null }) size: string
  @Prop({ default: null }) clicked: () => void
  @Prop({ default: false }) disabled: boolean
  @Prop({ default: false }) small: boolean
}
</script>

<style lang="scss" scoped>
.disabled-link {
  pointer-events: none;
  text-decoration: none;
  color: grey;
}

.not-allowed {
  cursor: not-allowed !important;
}
</style>
