<template>
  <div class="pageimage">
    <img :src="url" alt="PageImage" />
  </div>
</template>

<script lang="ts">
import { Prop, Vue, Component } from 'vue-property-decorator'

@Component
export default class PageImage extends Vue {
  @Prop({ default: null }) url: string

  mounted() {}
}
</script>

<style lang="scss" scoped></style>
