<template>
  <!-- Main container -->
  <div>
    <nav
      id="ScoreTitleBar"
      class="navbar is-fixed-top has-shadow"
      role="navigation"
      aria-label="main navigation"
    >
      <!-- Left side -->
      <div class="navbar-brand">
        <a class="navbar-item">
          <figure class="image is-48x48">
            <img
              id="navbar-image"
              class="is-rounded"
              src="../../assets/TopViolin.png"
            />
          </figure>
        </a>
        <div id="title" class="navbar-item">
          <a class="subtitle is-4">{{ tittle }}</a>
        </div>
        <a
          class="navbar-burger burger"
          role="button"
          :class="{ 'is-active': burgerOpen }"
          aria-label="menu"
          aria-expanded="false"
          v-on:click="burgerClicked"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" :class="{ 'is-active': burgerOpen }">
        <div class="navbar-start">
          <!-- left side -->
          <div class="navbar-item">
            <ABCHeaderMenu></ABCHeaderMenu>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <ThemeSwitch id="themeSwitcher" class="navbar-button" />
              <ABCIcon
                class="button navbar-button"
                ref="peerConnect"
                id="peerConnect"
                size="lg"
                iconName="upload"
                :clicked="connectPeer"
                :disabled="false"
              />

              <ABCIcon
                class="button navbar-button"
                id="prefSwitch"
                size="lg"
                iconName="cogs"
                :clicked="goPreferences"
                :disabled="false"
              />
              <ABCIcon
                class="button navbar-button"
                id="homeSwitch"
                size="lg"
                iconName="home"
                :clicked="goHome"
                :disabled="false"
              />
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</template>

<script lang="ts">
import { Route } from 'vue-router'

import { Component, Vue, Prop, Watch } from 'vue-property-decorator'

import $ from 'jquery'

import ThemeSwitch from './ThemeSwitch.vue'
import ABCHeaderMenu from './ABCHeaderMenu.vue'
import ABCIcon from '../common/ABCIcon.vue'

import { AbcIOSPeerAPI } from '../../API/ExternalApi'

interface WithRoute /* Mimic $route */ {
  $route: Route
}

@Component({
  components: {
    ThemeSwitch,
    ABCHeaderMenu,
    ABCIcon
  }
})
export default class ABCAppHeader extends Vue implements WithRoute {
  burgerOpen = false
  peerColor = ''

  @Prop({ default: null })
  tittle: string

  mounted() {
    this.goHome()
    // stor iconColor
    this.peerColor = $('#peerConnect a').css('color')
  }

  // computed:
  get peerTransferState() {
    return this.$store.getters.peerTransferState
  }

  @Watch('peerTransferState')
  onPropertyChanged(newValue: string, oldValue: string) {
    console.log(`Updating peerTransferState from ${oldValue} to ${newValue}`)
    if (newValue == 'Connected') {
      this.changeIconColor('#7fda25') // green
    } else {
      this.changeIconColor(this.peerColor)
    }
  }

  //
  // methods
  //

  goHome() {
    console.log('goHome pressed')
    if (this.$route.name != 'home') {
      this.$router.push({
        name: 'home',
        params: {
          title: 'AbcMusicStudio Mobile',
          message: 'Welcome to ABCMusicStudio mobile'
        }
      })
    }
  }

  burgerClicked() {
    console.log('burger clicked')
    this.burgerOpen = !this.burgerOpen
  }

  goPreferences() {
    console.log('goPreferences pressed')
    if (this.$route.name != 'preferences') {
      this.$router.push('/preferences')
    }
  }

  //
  // used for peerIcons upon peer connection state change
  //
  changeIconColor(newColor: string) {
    $('#peerConnect a').css('color', newColor)
  }

  connectPeer() {
    console.log('connecting peer')
    const binder = new AbcIOSPeerAPI()
    binder.bind()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#navbar-image {
  max-height: 3.75em;
}

#title {
  margin-bottom: unset;
  padding-right: 1em;
}
#title a {
  color: var(--tittle-color);
}

.navABCHeader-buttongroup .navbar-item {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.pad-right-1 {
  padding-right: 1em;
}
</style>
