<template>
  <footer class="footer fix-footer">
    <div class="content has-text-centered" :class="colorMessage">
      <p>{{ currentMessage }}</p>
    </div>
  </footer>
</template>

<script lang="ts">
import { Prop, Vue, Component } from 'vue-property-decorator'

// Inner Communication Tool
import { EventBus } from '../../event-bus'
import { ErrorEvent } from '../../API/ExternalApi'

@Component
export default class ABCAppFooter extends Vue {
  @Prop({ default: null }) message: string

  colorMessage = 'messageColor'
  currentMessage: string = this.message

  mounted() {
    const self = this
    console.log('ABCAppFooter mounted')
    EventBus.$on('GlobalMessage', (msg: ErrorEvent) => {
      self.currentMessage = `${msg.action} = ${msg.error}`
      self.colorMessage = msg.type
    })
  }
}
</script>

<style lang="scss" scoped>
.fix-footer {
  z-index: 999;
  position: fixed;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  padding: 0.5em;
}

.messageColor {
  color: var(--footer-text-color);
}

.errorColor {
  color: var(--footer-error-color);
}
</style>
