/** Main menu dynamic icons button */
<template>
  <section id="abcHero" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Preferences
        </h1>
      </div>
    </div>
    <section>
      <ABCRepositories></ABCRepositories>
    </section>
    <section class="padding-field">
      <div class="control">
        <input class="input" type="number" placeholder="Max result tunes" />
      </div>
    </section>
  </section>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

import ABCRepositories from './ABCRepositories.vue'

@Component({
  components: {
    ABCRepositories
  }
})
export default class ABCAppPreferences extends Vue {
  @Prop({ default: null })
  serverUrl: string
  @Prop({ default: null })
  selectedThemes: string[]
}
</script>

<style lang="scss" scoped>
.padding-field {
  padding-left: 1em;
  padding-right: 1em;
}
</style>
