/** CodeMiror (https://codemirror.net) based ABC editor with vue integration
(vue-codemirror) */
<template>
  <div ref="ABCCm"></div>
</template>

<script lang="ts">
import CodeMirror from 'codemirror'

import { Vue, Prop, Component } from 'vue-property-decorator'

// language js
import 'codemirror/mode/javascript/javascript.js'
// theme css
import 'codemirror/theme/base16-dark.css'
// more codemirror resources
// import 'codemirror/some-resource...'

@Component
export default class ABCEditor extends Vue {
  public onChange: {
    (
      instance: CodeMirror.Editor,
      changeObj: CodeMirror.EditorChangeLinkedList
    ): void
  }

  editor: CodeMirror.Editor
  code: string

  mounted() {
    const el = this.$refs.ABCCm as HTMLElement
    this.code = this.score
    const cmOptions = {
      // codemirror options
      tabSize: 2,
      mode: 'text/javascript',
      theme: 'base16-dark',
      lineNumbers: true,
      line: true,
      viewportMargin: Infinity
      // more codemirror options, 更多 codemirror 的高级配置...
    }

    this.editor = CodeMirror(el, cmOptions)
    // eslint-disable-next-line
    this.onChange = (instance, changeObj) => {
      this.onCmCodeChange('to be provided')
    }
    this.editor.on('change', this.onChange)
    // console.log('this is current codemirror object', this.codemirror)
    this.setContent(this.code)
  }

  //
  // computed:
  //
  get codemirror(): CodeMirror.Editor {
    return this.codemirror
  }

  @Prop({ default: null })
  score: string

  //
  // methods:
  //
  setContent(content: string) {
    const self = this
    this.editor.setValue(content)
    setTimeout(function () {
      self.editor.refresh()
    }, 1)
  }

  onCmReady(cm: any) {
    console.log('the editor is readied!', cm)
  }

  onCmFocus(cm: any) {
    console.log('the editor is focus!', cm)
  }
  //
  onCmCodeChange(newCode: string) {
    console.log('this is new code', newCode)
    // this.code = newCode
  }
}
</script>

<style lang="scss" scoped></style>
