<template>
  <div class="card-content childComponent" ref="folderDetails">
    <ABCScoreLines :folders="folder.folders" :files="folder.files">
    </ABCScoreLines>
  </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'

@Component
export default class ABCFolderDetails extends Vue {
  @Prop({ default: null })
  folder: any
  @Prop({ default: null })
  index: number
}
</script>

<style lang="scss" scoped>
/* for recursive children */
.childComponent {
  padding: unset;
  border-left: 1px dotted lightgray;
  margin-left: 1em;
}
</style>
