<template>
  <div class="modal" :class="{ 'is-active': modalOpen }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">New Folder</p>
        <button
          class="delete"
          aria-label="close"
          @click="cancelClicked"
        ></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="field">
          <label class="label">Name</label>
          <p class="control has-icons-left">
            <input
              class="input"
              type="text"
              placeholder="Folder name"
              :class="{ 'is-danger': !valid }"
              v-model="folderName"
            />
            <span class="icon is-small is-left">
              <font-awesome-icon icon="folder" size="sm" />
            </span>
          </p>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="okClicked">Ok</button>
        <button class="button" @click="cancelClicked">Cancel</button>
      </footer>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

import * as _ from 'lodash'
// Inner Communication Tool
import { EventBus } from '../../event-bus'

@Component
export default class ABCNewFolderModal extends Vue {
  modalOpen = false
  folderName: string = null
  valid = true

  mounted() {}

  //
  // methods
  //
  cleanup() {
    // this.dbName = null
  }

  cancelClicked() {
    console.log('cancel clicked')
    this.modalOpen = false
  }

  okClicked() {
    console.log('ok clicked')
    if (!_.isNil(this.folderName) && this.folderName.length > 0) {
      this.valid = true
      this.modalOpen = false
      EventBus.$emit('AddNewFolder', this.folderName)
    } else {
      this.valid = false
    }
  }
}
</script>

<style lang="scss" scoped></style>
