<template>
  <div class="modal" :class="{ 'is-active': modalOpen }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">New Repository</p>
        <button
          class="delete"
          aria-label="close"
          @click="cancelClicked"
        ></button>
      </header>
      <section class="modal-card-body">
        <!-- Content ... -->
        <div class="field">
          <label class="label">Name</label>
          <p class="control has-icons-left">
            <input
              class="input"
              type="text"
              placeholder="Database name"
              :class="{ 'is-danger': !valid }"
              v-model="dbName"
            />
            <span class="icon is-small is-left">
              <font-awesome-icon icon="database" size="sm" />
            </span>
          </p>
        </div>
        <div class="field">
          <label class="label">Repository type</label>
          <div class="control">
            <div class="select">
              <select v-model="dbFormType">
                <option>{{ SQLITE }}</option>
                <option>{{ MYSQL }}</option>
              </select>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" @click="okClicked">Ok</button>
        <button class="button" @click="cancelClicked">Cancel</button>
      </footer>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

import * as _ from 'lodash'
// Inner Communication Tool
import { EventBus } from '../../event-bus'
import { DBType, log } from '../../../../common/lib/ABCCommon'
import { DBCore } from '../../../../common/lib/DbProtocol'

@Component
export default class ABCNewRepoModal extends Vue {
  SQLITE = 'Sqlite'
  MYSQL = 'MySql'

  modalOpen = false
  dbName: string = null
  dbType: DBType = DBType.Sqlite // default
  valid = true
  // dbFormType: string = this.SQLITE

  // Computed props
  get dbFormType(): string {
    switch (this.dbType) {
      case DBType.Sqlite:
        return this.SQLITE
      case DBType.MySql:
        return this.MYSQL
    }
  }

  set dbFormType(type: string) {
    switch (type) {
      case this.SQLITE:
        this.dbType = DBType.Sqlite
        break
      case this.MYSQL:
        this.dbType = DBType.MySql
        break
    }
  }

  /*
  @Watch('dbFormType')
  onPropertyChanged(value: string, oldValue: string) {
    this.getType(value)
  }
  */

  created() {}

  //
  // methods:
  //
  cleanup() {
    this.dbName = null
    // this.dbType = DBType.Sqlite
  }

  setType(): string {
    switch (this.dbType) {
      case DBType.Sqlite:
        return this.SQLITE
      case DBType.MySql:
        return this.MYSQL
    }
  }

  getType(value: string) {
    log.debug(`dbtype change to : ${value}`)
    switch (value) {
      case this.SQLITE:
        this.dbType = DBType.Sqlite
      case this.MYSQL:
        this.dbType = DBType.MySql
    }
  }

  cancelClicked() {
    log.debug('cancel clicked')
    this.modalOpen = false
  }

  okClicked() {
    log.debug('ok clicked')
    if (!_.isNil(this.dbName) && this.dbName.length > 0) {
      this.valid = true
      this.modalOpen = false
      const repoType: DBType = DBType.Sqlite
      const newDb: DBCore = new DBCore(this.dbName, repoType)
      EventBus.$emit('AddNewRepository', newDb)
    } else {
      this.valid = false
    }
  }
}
</script>

<style lang="scss" scoped></style>
