/** Repository list inside preferences */
<template>
  <!-- Main container -->
  <div class="repositories" ref="reposit">
    <section class="container">
      <h2 class="subtitle title-repo">
        AbcMusic score repositories
      </h2>
    </section>
    <div class="table-container repo-table">
      <table class="table is-hoverable is-bordered">
        <!-- Your table content -->
        <thead>
          <th>Name</th>
          <th v-if="!emptyRepoList">type</th>
          <th v-if="!emptyRepoList">Selected</th>
        </thead>
        <tbody>
          <tr v-if="emptyRepoList">
            <td>No repository presently defined</td>
          </tr>
          <tr v-for="repo in repoList" :key="repo.core.name">
            <td>{{ repo.core.name }}</td>
            <td>{{ repo.core.getDbType() }}</td>
            <td class="has-text-centered">
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <label class="checkbox">
                      <input
                        type="checkbox"
                        :value="repo"
                        v-model="checkedRepos"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav class="level is-mobile">
      <!-- Left side -->
      <div class="level-left">
        <ABCIcon
          class="level-item button first-button"
          iconName="plus"
          size="lg"
          :clicked="createRepoAction"
        />
        <ABCIcon
          class="level-item button"
          iconName="minus"
          :disabled="disableDelete"
          size="lg"
          :clicked="deleteRepoAction"
        />
        <ABCIcon
          class="level-item button"
          iconName="search"
          :disabled="disableDelete"
          size="lg"
          :clicked="loadRepoAction"
        />
      </div>
    </nav>
    <ABCNewRepoModal ref="repoModal"></ABCNewRepoModal>
    <ABCMessage
      ref="messageBox"
      :hasButtons="true"
      title="Delete Repo"
      :message="deleteMessage()"
    ></ABCMessage>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import * as _ from 'lodash'
import ABCIcon from '../common/ABCIcon.vue'
import ABCMessage from '../common/ABCMessage.vue'
import { ABCMessageHandler } from '../common/ABCMessageHandler'
import ABCNewRepoModal from './ABCNewRepoModal.vue'
//import { TestClass } from '../../API/TestClass'

// Inner Communication Tool
import { EventBus } from '../../event-bus'
import { AbcIOSPeerAPI } from '../../API/ExternalApi'
import { ABCDb, DBCore } from '../../API/db/ABCDb'
import { ErrorEvent } from '../../API/ExternalApi'

@Component({
  components: {
    ABCNewRepoModal,
    ABCMessage,
    ABCIcon
  }
})
export default class ABCRepositories extends Vue {
  openModal = false
  checkedRepos: ABCDb[] = []

  //
  // computed
  //

  get repoList(): string[] {
    return this.$store.getters.repositories
  }

  get selectedRepo(): string {
    return this.$store.getters.selectedRepo
  }

  get disableDelete(): boolean {
    return _.isEmpty(this.checkedRepos)
  }

  get emptyRepoList(): boolean {
    if (_.isEmpty(this.repoList)) {
      return true
    }
    return false
  }

  mounted() {
    const self = this
    EventBus.$on('GlobalMessage', (msg: ErrorEvent) => {
      if (self.$refs.reposit != null) {
        const msgHandler = new ABCMessageHandler(self.$refs.reposit)
        msgHandler.displayMessage(msg)
      }
    })
  }

  //
  // methods
  //
  createRepo(repo: ABCDb) {
    console.log(`adding new repo: ${repo.core.name}`)
    const api = new AbcIOSPeerAPI()
    api.createRepository(repo)
  }

  createRepoAction() {
    console.log('creating repo')
    EventBus.$off('AddNewRepository')
    const modal: any = this.$refs.repoModal
    modal.cleanup()
    modal.modalOpen = true
    // => Dynamic score changes from external API
    EventBus.$on('AddNewRepository', (repo: DBCore) => {
      this.createRepo(new ABCDb(repo))
    })
  }

  deleteMessage(): string {
    let rpNames = ''
    for (const repo of this.checkedRepos) {
      rpNames += rpNames + repo.core.name
    }
    return `Delete ${rpNames} ? `
  }

  deleteRepoAction() {
    console.log('deleting repo')
    if (!_.isNil(this.checkedRepos)) {
      EventBus.$off('ABCMessageOkPressed')
      const modal: any = this.$refs.messageBox
      modal.modalOpen = true
      const self = this
      EventBus.$on('ABCMessageOkPressed', () => {
        const api = new AbcIOSPeerAPI()
        api.deleteRepository(self.checkedRepos)
      })
    }
  }

  loadRepoAction() {
    console.log('load repo')
    if (!_.isNil(this.checkedRepos)) {
      let cur = this.checkedRepos[0]
      cur.loadALL() // load first checked repo
    }
  }
}
</script>

<style lang="scss" scoped>
.repositories {
  padding: 1em;
  padding-bottom: unset;
}

.first-button {
  margin-right: 1em;
}

.title-repo {
  margin-bottom: 0.5em;
}

.repo-table {
  margin-bottom: 0.5em !important;
}
</style>
