/** Main menu dynamic icons button */
<template>
  <div class="card" ref="scorePanel">
    <header class="card-header">
      <a class="scoreIcon iconLeft" @click="saveRepo">
        <font-awesome-icon icon="save" size="lg" />
      </a>
      <p class="card-header-title subtitle">
        {{ curRepo.core.name }}
      </p>
      <a class="scoreIcon" @click="editScore">
        <font-awesome-icon icon="edit" size="lg" />
      </a>
      <a class="scoreIcon" @click="showFullPage">
        <font-awesome-icon icon="eye" size="lg" />
      </a>
      <a class="scoreIcon" @click="trash">
        <font-awesome-icon icon="minus-square" size="lg" />
      </a>
      <a class="scoreIcon" @click="addFolder">
        <font-awesome-icon icon="folder-plus" size="lg" />
      </a>
    </header>
    <div class="card-content no-padding">
      <ABCScoreListPanel />
    </div>
    <ABCNewFolderModal ref="folderModal"></ABCNewFolderModal>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

import * as _ from 'lodash'

import ABCNewFolderModal from './ABCNewFolderModal.vue'
import ABCScoreListPanel from './ABCScoreListPanel.vue'

// Inner Communication Tool
import { EventBus } from '../../event-bus'
import { ABCDb } from '../../API/db/ABCDb'
import { File, Folder } from '../../../../common/lib/ABCCommon'

@Component({
  components: {
    ABCScoreListPanel,
    ABCNewFolderModal
  }
})
export default class ABCAppPreferences extends Vue {
  public $refs: Vue['$refs'] & {
    folderModal: ABCNewFolderModal
  }

  @Prop({ default: null })
  curRepo: ABCDb

  mounted() {
    console.log('ABCScorePanel mounted')
    EventBus.$on('AddNewFolder', (folderName: string) => {
      let curSelection = this.$store.getters.selectedNode
      if (_.isNil(curSelection)) {
        curSelection = this.$store.getters.treeData.root
      }
      if (this.isFile(curSelection)) {
        curSelection = curSelection.parent
      }
      console.log(`add folder to tree at : ${curSelection.name}`)
      curSelection.addFolder(folderName)
    })
    this.checkCurrentRepo()
  }

  //
  // methods: {
  //

  checkCurrentRepo(): void {}

  isFile(candidate: File | Folder): boolean {
    const infos = candidate.infos
    if (_.has(infos, 'content')) {
      return true
    }
    return false
  }

  addFolder() {
    const modal = this.$refs.folderModal
    modal.cleanup()
    modal.modalOpen = true
  }

  trash() {
    const curSelection = this.$store.getters.selectedNode
    if (!_.isNil(curSelection)) {
      console.log(`removing : ${curSelection.name}`)
      curSelection.parent.remove(curSelection)
      // select parent when deleted
      EventBus.$emit('NewLineSelected', curSelection.parent)
    }
  }

  showFullPage() {
    const curSelection = this.$store.getters.selectedNode
    if (!_.isNil(curSelection)) {
      console.log(`showing : ${curSelection.name}`)
    }
  }

  saveRepo() {
    console.log('save current repo ')
  }

  editScore() {
    console.log('edit current selected score ')
    const curSelection: File | Folder = this.$store.getters.selectedNode
    if (!_.isNil(curSelection) && this.isFile(curSelection)) {
      EventBus.$emit('EditScore', curSelection)
    }
  }
}
</script>

<style lang="scss" scoped>
.scoreIcon {
  padding-top: 1.25em;
  padding-right: 1em;
}

.iconLeft {
  padding-left: 1em;
}

.subtitle {
  color: #c9d0dc;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: unset;
  margin-bottom: 0.25em !important;
}

.no-padding {
  padding: unset;
}
</style>
