<template>
  <div id="scoreAnchorPoint">
    <ABCScoreLines :folders="folders" :files="files" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { File, Folder, ScoreDataStore } from '../../../../common/lib/ABCCommon'

@Component
export default class ABCScoreListPanel extends Vue {
  //
  // methods:
  //
  topNode(): Folder {
    const top: ScoreDataStore = this.$store.getters.treeData
    if (top == null) {
      return null
    }
    if (top.root == null) {
      return null
    }
    return top.root
  }

  get files(): File[] {
    const root = this.topNode()
    if (root != null) {
      return root.files
    }
    return null
  }

  get folders(): Folder[] {
    const root = this.topNode()
    if (root != null) {
      if (root.folders != null) {
        for (const folder of root.folders) {
          console.log(`folder : ${folder.infos.title}`)
        }
      }
      return root.folders
    }
    return null
  }
}
</script>

<style lang="scss" scoped></style>
