/** Main menu dynamic icons button */
<template>
  <div ref="homeRef">
    <ABCScorePanel v-if="hasRepo()" ref="mainScore" :curRepo="repo">
    </ABCScorePanel>
    <AbcStudioWelcome
      v-else
      id="welcome"
      :title="title"
      :message="message"
      ref="mainWelcome"
    >
    </AbcStudioWelcome>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

//import Vue from 'vue'

import * as _ from 'lodash'
import AbcStudioWelcome from '../common/AbcStudioWelcome.vue'
import ABCScorePanel from './ABCScorePanel.vue'
import { AbcIOSPeerAPI } from '../../API/ExternalApi'
import { log } from '../../../../common/lib/ABCCommon'

// import ABCMessage from '../common/ABCMessage.vue'

// Inner Communication Tool
import { EventBus } from '../../event-bus'
import { ABCDb } from '../../API/db/ABCDb'

@Component({
  components: {
    AbcStudioWelcome,
    ABCScorePanel
  }
})
export default class ABCStudioHome extends Vue {
  repo: ABCDb = null

  @Prop({ default: null }) title: string
  @Prop({ default: null }) message: string

  created() {
    // `this` est une référence à l'instance de vm
    log.debug('ABCStudioHome created')
  }

  mounted() {
    const self = this
    log.debug('ABCStudioHome is mounted')
    // Listen for repository change events.
    // => Dynamic score changes from external API
    EventBus.$on('RepositoryChanged', (newRepoInfo: ABCDb) => {
      if (newRepoInfo == null) {
        localStorage.removeItem('repoName')
        self.repo = null
        self.$store.commit('newTreeData', null)
        self.$store.commit('newNodeSelected', null)
        self.$store.commit('newCurDb', null)
      } else {
        const repoName = newRepoInfo.core.name
        const repoData = newRepoInfo.data
        log.debug(`REPOSITORY changed to ${repoName}`)
        self.repo = newRepoInfo
        self.repo.store() // serialize in local stoarge
        self.$store.commit('newTreeData', repoData)
        self.$store.commit('newCurDb', newRepoInfo)
        EventBus.$emit('LoadRepository', self.repo)
      }
    })
    // update current repo list first time only
    if (!this.$store.getters.studioHomeInited) {
      const api = new AbcIOSPeerAPI()
      api.getScoreRepoList()
      const core = ABCDb.load()
      if (core != null) {
        this.repo = new ABCDb(core, null)
        EventBus.$emit('RepositoryChanged', this.repo)
      }
    }
    this.$store.commit('setStudioHomeInited', true)
    // simpletest
    //let repo = new ABCDb('testRepo' , 'SqlLite')
    //let repoList = [repo]
    //this.$store.commit('changeRepositories',repoList)
    //let api1 = new AbcIOSScoreTransferAPI()
    //api1.actionCompleted('ListDatabase', '[{ "name" : "test" , "type" : "SqlLite" }]')
  }

  //
  // computed
  //

  hasRepo() {
    console.log('hasRepo entered')
    if (_.isNil(this.repo)) {
      return false
    }
    return true
  }
}
</script>
