<template>
  <div class="card-content" ref="scoreDetails">
    <AbcScore
      v-if="isABC"
      :tuneId="computeId"
      :tune="abcData"
      :options="{ staffwidth: 300 }"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { File, ABCResType } from '../../../../common/lib/ABCCommon'

import { sampleScore } from '../../API/ABCTest'
import * as _ from 'lodash'
import AbcScore from '../score/AbcScore.vue'

@Component({
  components: {
    AbcScore
  }
})
export default class ABCScoreDetails extends Vue {
  @Prop({ default: null })
  score: File
  @Prop({ default: null })
  index: number

  // computed:

  get computeId(): string {
    const infos = this.score.infos
    return infos.title.replace(/\s/g, '')
  }

  //
  // un accesseur (getter) calculé
  //
  get abcData(): string {
    const content = this.score.infos.contents
    if (!_.isNil(content)) {
      _.replace(content.abc, new RegExp('<br>', 'g'), '\n')
      return content.abc
    } else {
      return sampleScore
    }
  }

  get isABC(): boolean {
    const infos = this.score.infos
    if (infos.type == null) {
      return true // default
    } else {
      if (infos.type == ABCResType.ABCScore) {
        return true
      }
    }
    return false
  }
}
</script>

<style lang="scss" scoped></style>
