<template>
  <div class="score-line">
    <div v-for="folder in folders" :key="folder.name">
      <ABCScoreLine :curNode="folder" />
    </div>
    <div v-for="file in files" :key="file.name">
      <ABCScoreLine :curNode="file" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

import * as _ from 'lodash'

import ABCScoreLine from './ABCScoreLine.vue'
import { EventBus } from '../../event-bus'
import store from '../../store/store'
import { File, Folder } from '../../../../common/lib/ABCCommon'

@Component({
  components: {
    ABCScoreLine
  }
})
export default class ABCScoreLines extends Vue {
  selectedLine: any = null

  @Prop({ default: null }) folders: Folder[]
  @Prop({ default: null }) files: File[]

  mounted() {
    console.log('ABCScoreLines mounted')
    const self = this
    EventBus.$on('NewLineSelected', (newLine: any) => {
      if (!_.isNil(self.selectedLine)) {
        self.selectedLine.isSelected = false
      }
      self.selectedLine = newLine
      newLine.isSelected = true
      store.commit('newNodeSelected', newLine.curNode)
    })
  }
}
</script>

<style lang="scss" scoped></style>
