<template>
  <div class="card" ref="scoreLine">
    <header
      class="card-header ScoreLine"
      :class="{ 'line-selected': isSelected }"
      @click="selectLine"
    >
      <img class="image is-24x24 ScoreImage" :src="scoreImage" />
      <p class="card-header-title" :class="{ 'has-text-danger': isEmpty }">
        {{ this.message }}
      </p>

      <ABCIcon
        v-if="!isEmpty"
        class="card-header-icon"
        id="expansion"
        size="xs"
        :iconName="this.isOpen ? 'angle-up' : 'angle-down'"
        :clicked="expansionClicked"
        :disabled="false"
      />
    </header>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'

// Inner Communication Tool
import * as _ from 'lodash'
import ABCIcon from '../common/ABCIcon.vue'
import ABCScoreDetail from './ABCScoreDetail.vue'
import ABCFolderDetail from './ABCFolderDetail.vue'
import ABCEditor from './ABCEditor.vue'
import { EventBus } from '../../event-bus'
import { File, Folder, DataContent } from '../../../../common/lib/ABCCommon'

import { sampleScore } from '../../API/ABCTest'

@Component({
  components: {
    ABCIcon
  }
})
export default class ABCScoreLine extends Vue {
  public $refs: Vue['$refs'] & {
    scoreLine: any
  }

  isOpen = false
  isSelected = false
  openedPanel: any = null
  openedEditor: any = null

  @Prop({ default: null })
  curNode: File | Folder

  mounted() {
    const self = this
    EventBus.$on('EditScore', (curSelection: File) => {
      if (self.curNode == curSelection) {
        const content = curSelection.infos.contents.abc
        console.log(`content score : ' ${content}`)
        self.scoreEdit(content)
      }
    })
  }

  //
  // computed: {
  //
  // un accesseur (getter) calculé
  get isEmpty(): boolean {
    const node = this.curNode
    if (_.isNil(node)) {
      return true
    }
    if (_.isNil(node.infos)) {
      return true
    }
    const title = node.infos.title
    if (_.isNil(title) || title.length == 0) {
      return true
    }
    return false
  }

  get isFolder(): boolean {
    if (_.has(this.curNode, 'files')) {
      return true
    }
    return false
  }

  get scoreImage(): string {
    if (this.isFolder) {
      return 'images/Folder-icon.png'
    } else {
      return 'images/note.png'
    }
  }

  get message(): string {
    if (this.isEmpty) {
      return 'AbcMusicStudio store root is empty'
    }
    return this.curNode.infos.title
  }

  //
  // methods: {
  //

  newClass(isFolder: boolean): any {
    if (isFolder) {
      const FolderClass = Vue.extend(ABCFolderDetail)
      return new FolderClass({
        propsData: { folder: this.curNode as Folder }
      })
    } else {
      const ScoreClass = Vue.extend(ABCScoreDetail)
      const node = this.curNode as File
      if (node.infos.contents == null) {
        // populate for testing
        const contents = new DataContent()
        contents.abc = sampleScore
        node.infos.contents = contents
      }
      return new ScoreClass({
        propsData: { score: node }
      })
    }
  }

  selectLine() {
    console.log('line has been selected')
    EventBus.$emit('NewLineSelected', this)
  }

  expansionClicked() {
    console.log('expansion clicked')
    if (!_.isNil(this.openedPanel)) {
      // close
      console.log('closing node details')
      this.$refs.scoreLine.removeChild(this.openedPanel)
      this.openedPanel = null
      this.openedEditor = null
    } else {
      console.log('opening node details')
      let element = null
      if (this.isFolder) {
        element = this.newClass(true)
      } else {
        element = this.newClass(false)
        //
      }
      element.$mount()
      this.$refs.scoreLine.appendChild(element.$el)
      this.openedPanel = element.$el
    }
    this.isOpen = !this.isOpen
  }

  scoreEdit(content: string) {
    const parent = this.openedPanel
    if (!_.isNil(this.openedEditor)) {
      if (!_.isNil(parent)) {
        parent.removeChild(this.openedEditor)
      }
      this.openedEditor = null
    } else {
      const EditorClass = Vue.extend(ABCEditor)
      if (!_.isNil(parent)) {
        const editor = new EditorClass({
          propsData: {
            score: content
          }
        })
        editor.$mount()
        parent.appendChild(editor.$el)
        this.openedEditor = editor.$el
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.ScoreLine {
  display: flex;
  width: 100%;
  max-height: 2em;
}

.line-selected {
  background-color: #eaedf1;
}

.ScoreImage {
  margin-top: 0.2em;
  margin-left: 0.5em;
}

.ABCCardHeader {
  padding: 0.15em 0.5em;
}

#zoomer {
  padding-right: unset;
  margin-bottom: unset;
}
</style>
