/*================================================*/ /* Theme Switch button */
/*================================================*/
<template>
  <ABCIcon
    id="changeTheme"
    class="button"
    iconName="paint-roller"
    size="lg"
    :clicked="themeChange"
    :disabled="false"
  />
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import * as _ from 'lodash'
import $ from 'jquery'
import ABCIcon from '../common/ABCIcon.vue'

@Component({
  components: {
    ABCIcon
  }
})
export default class ThemeSwitch extends Vue {
  darkMode = false

  mounted() {
    // set 'app-background' class to body
    const theme = localStorage.getItem('theme')
    console.log(`ThemeSwithc mounted: ${theme}`)
    this.addTheme(theme)
  }

  //
  // methods:
  //
  removeTheme(theme: string) {
    if (!_.isNil(theme)) {
      $(':root').removeClass(theme)
    }
  }

  addTheme(theme: string) {
    if (!_.isNil(theme)) {
      $(':root').addClass(theme)
    }
  }

  themeChange() {
    console.log('themeChange pressed')
    this.darkMode = !this.darkMode
    let theme = null
    if (this.darkMode) {
      theme = 'darkTheme'
      this.addTheme(theme)
    } else {
      theme = null
      this.removeTheme('darkTheme')
    }
    localStorage.setItem('theme', theme)
    console.log(`ThemeSwitch theme changed: ${theme}`)
  }
}
</script>

<style lang="scss" scoped>
#changeTheme {
  padding-left: 1em;
}
</style>
