/** Main menu dynamic icons button */
<template>
  <section id="abcHero" class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ title }}
        </h1>
        <h2 class="subtitle">
          {{ subtitle }}
        </h2>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'

@Component
export default class AbcHero extends Vue {
  @Prop({ default: null }) title: string
  @Prop({ default: null }) subtitle: string
}
</script>
