/** Standard message,error,warning Modal display */

<template>
  <div class="modal" :class="{ 'is-active': modalOpen }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <article class="message" :class="msgType">
        <div class="message-header">
          <p>{{ title }}</p>
          <button class="delete" aria-label="delete" @click="close"></button>
        </div>
        <div class="message-body">
          {{ message }}
        </div>
        <footer v-if="hasButtons" class="modal-card-foot center-buttons">
          <button class="button" :class="msgType" @click="okClicked">Ok</button>
          <button class="button" @click="cancelClicked">Cancel</button>
        </footer>
      </article>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'

import * as _ from 'lodash'
// Inner Communication Tool
import { EventBus } from '../../event-bus'

@Component
export default class AbcMessage extends Vue {
  modalOpen = false

  @Prop({ default: null })
  title: string
  @Prop({ default: null })
  message: string
  @Prop({ default: null })
  type: string
  @Prop({ default: false })
  hasButtons: boolean

  //
  // computed:
  //
  get msgType(): string {
    let msgType = this.type
    if (_.isNil(msgType)) {
      msgType = 'info'
    }
    return 'is-' + msgType
  }

  //
  // methods
  //
  close() {
    EventBus.$emit('ABCMessageIsClosing')
    this.modalOpen = false
  }

  okClicked() {
    EventBus.$emit('ABCMessageOkPressed') // just listen on that one
    this.close()
  }

  cancelClicked() {
    this.close()
  }
}
</script>

<style lang="scss" scoped>
.center-buttons {
  justify-content: space-around;
}
</style>
