<template>
  <div class="welcomeRoot" ref="welcomePanel">
    <figure class="image container is-128x128">
      <img alt="Vue logo" src="../../assets/TopViolin.png" />
    </figure>
    <div class="AbcStudioWelcome">
      <h1 class="title is-3">{{ title }}</h1>
      <p>{{ message }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Prop, Component } from 'vue-property-decorator'

@Component
export default class AbcStudioWelcome extends Vue {
  @Prop({ default: null }) title: string
  @Prop({ default: null }) message: string

  mounted() {
    console.log('ABCStudio welcome mounted')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
