/*
 DARKLY custom theme 
*/
.darkTheme {
  /*@import url('https://fonts.googleapis.com/css?family=MerriWeather');*/

  $dark-background: #375a7f;
  $grey-lighter: #dbdee0;
  $grey-light:   #8c9b9d;
  $grey:         darken($grey-light, 18);
  $grey-dark:    darken($grey, 18);
  $grey-darker:  darken($grey, 23);
  $grey-hover: slategrey;

  //
  // populate theme 
  //
  --text:hsl(0, 0%, 86%);
  --background: #{$dark-background};
  --app-background-color: darken($grey, 23);
  --body-background-color: #{darken($grey-darker, 23)};

  --tittle-color : $grey ;

  //
  // navbar #{$accent-color};
  //
  --navbar-background-color : #{$dark-background};
  --navbar-button-color : #7e90ad ;
  --navbar-button-background : #2a4969 ;
  --abcicon-hover-color : #b0c4e6 ;
  //
  // welcome page 
  //
  --welcome-root-textcolor: #{$grey-light};
  --welcome-root-fontFamily: 'Roboto', Helvetica, Arial, sans-serif;

  //
  // dropdown
  //
  --dropdown-content-background-color: #{$dark-background};
  --dropdown-item-color : #{$grey-light} ;

  .dropdown button {
    color: $grey-lighter;
    background-color: $dark-background;
  }
  a.dropdown-item:hover {
    color: $grey-lighter;
    background-color: $dark-background;
  }
  .AbcStudioWelcome h1 {
    color: $grey ;
    font-family: 'MerriWeather' ;
  }
}