@charset "utf-8";

@import './theme-colors.scss';

// theming bulma variables
$text : var(--text);
//$background : var(--background) ;
$body-background-color : var(--body-background-color);
$app-background-color : var( --app-background-color) ;
// navbar 
$navbar-background-color : var(--navbar-background-color);
$navbar-button-color : var(--navbar-button-color);
$navbar-button-background : var(--navbar-button-background);
$abcicon-hover-color : var(--abcicon-hover-color);

// dropdown 
$dropdown-content-background-color: var(--dropdown-content-background-color);
$dropdown-item-color : var(--dropdown-item-color) ;
@debug $dropdown-item-color;


$tittle-color : var(--tittle-color) ;
// footer
$footer-background-color : var(--background);
// burger device visibility limit
$navbar-breakpoint: 700px;

.welcomeRoot {
  font-family: var(--welcome-root-fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--welcome-root-textcolor);
  margin-top: 60px;
}

.navbar-button {
  padding: unset !important;
  margin-bottom: unset !important;
  background-color: $navbar-button-background !important;
}

.abcicon  {
  padding-left: 0.5em !important ;
  padding-right: 0.5em !important ;
  color: $navbar-button-color ;
}

.abcicon :hover {
  color: $abcicon-hover-color ;
}




@import "../../node_modules/bulma/bulma.sass";


