/*
  available themes
*/

:root {
  // globals
  --text: hsl(0, 0%, 29%);
  --background: hsl(0, 0%, 96%);
  --body-background-color: hsl(0, 0%, 96%);

  // navbar
  --navbar-background-color: hsl(0, 0%, 100%);
  --navbar-button-color: #7e90ad;

  // footer
  --footer-text-color: #cbabb1;
  --footer-error-color: #b31733;

  // dropdown menu

  --dropdown-item-color: hsl(0, 0%, 29%);
  --dropdown-content-background-color: hsl(0, 0%, 100%);
  --tittle-color: darkgray;

  --welcome-root-textcolor: #2c3e50;
  --welcome-root-fontFamily: 'Avenir', Helvetica, Arial, sans-serif;
}

// available themes imports follow

@import './darkTheme.scss';
