/*
Main CSS rules
*/
@charset "utf-8";

@import './theme-colors.scss';

// theming bulma variables
$text: var(--text);
//$background : var(--background) ;
$body-background-color: var(--body-background-color);
$app-background-color: var(--app-background-color);
// navbar
$navbar-background-color: var(--navbar-background-color);
$navbar-button-color: var(--navbar-button-color);
$navbar-button-background: var(--navbar-button-background);
$abcicon-hover-color: var(--abcicon-hover-color);

// dropdown
$dropdown-content-background-color: var(--dropdown-content-background-color);
$dropdown-item-color: var(--dropdown-item-color);
@debug $dropdown-item-color;

$tittle-color: var(--tittle-color);
// footer
$footer-background-color: var(--background);
// burger device visibility limit
$navbar-breakpoint: 700px;

.welcomeRoot {
  font-family: var(--welcome-root-fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--welcome-root-textcolor);
  margin-top: 60px;
}

.navbar-button {
  padding: unset !important;
  margin-bottom: unset !important;
  background-color: $navbar-button-background !important;
}

.abcicon {
  padding-left: 0.5em !important ;
  padding-right: 0.5em !important ;
  color: $navbar-button-color;
}

.abcicon :hover {
  color: $abcicon-hover-color;
}

// Menu
$menu-item-hover-color: var(--menu-item-hover-color);

@import '../../node_modules/bulma/bulma.sass';

//
// Font Familly used
//
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=LCabin');

// Available site colors classes

.TextGray {
  color: #a9a9a9;
}

.TextBlue {
  color: #05386b;
}

.TextLightBlue {
  color: #87a7c3;
}

.GreenBackground {
  background-color: #379683 !important;
}

// global classes

.TopImage {
  position: relative;
  display: inline-block;
}

.TopImage img {
  height: 475px;
}

.TopImage .Img-Top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.TopImage:hover .Img-Top {
  display: inline;
}

// markdown class extensions
.PageTitleFontFamilly {
  font-family: 'Lobster', Georgia, Times, serif;
}

.PageTextFontFamily {
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

.pagemarkdown {
  margin-left: 3em;
  margin-bottom: 2em;
}

.pagemarkdown h1 {
  @extend .PageTitleFontFamilly;
  @extend .is-size-4;
  font-weight: 500;
  margin: 1em;
}

.pagemarkdown h2 {
  @extend .PageTitleFontFamilly;
  @extend .is-size-5;
  @extend .TextBlue;
  margin: 0.5em;
}

.pagemarkdown h3 {
  @extend .PageTextFontFamily;
  @extend .is-size-6;
  margin: 0.5em;
}

.pagemarkdown h4 {
  @extend .PageTextFontFamily;
  @extend .is-size-6;
  margin: 0.5em;
}

.pagemarkdown p {
  @extend .PageTextFontFamily;
  text-align: left;
  margin-top: 0.25em;
  // margin-left: 3em;
}

.pagemarkdown ul {
  text-align: left;
  list-style-type: square;
  margin-left: 2em;
}

.pagemarkdown img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 65%;
}
