<template>
  <div class="bloglist">
    <div class="sections">
      <div
        v-for="(section, index) in Object.keys(entries)"
        :key="index"
        class="group"
      >
        <h2 class="center">{{ section }}</h2>
        <div
          class="blogentry TextBlue"
          v-for="entry in entries[section]"
          :key="entry.id"
        >
          <div>
            <h3 class="entry" @click="entryClick(entry.id)">
              {{ entry.title }}
              <span class="subtitle">{{ entry.date }}</span>
            </h3>
            <p class="description TextGray" @click="entryClick(entry.id)">
              {{ entry.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import BlogEntries from '@/statics/data/blogs.json'

@Component({})
export default class BlogList extends Vue {
  get entries() {
    return BlogEntries
  }

  entryClick(id: string) {
    console.log('click for blog')
    this.$router.push({ name: id })
  }
}
</script>

<style lang="scss" scoped>
@import '../sass/global.scss';

.group {
  @extend .is-size-3;
  font-family: 'Lobster', Georgia, Times, serif;
}

.entry {
  @extend .is-size-5;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  //  border: 1em;
  margin-top: 1em;
  cursor: pointer;
  font-weight: bold;
}

.subtitle {
  @extend .is-size-5;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  padding-left: 1em;
  font-weight: bolder;
  color: #87a7c3;
}

.description {
  @extend .is-size-6;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  cursor: pointer;
  border: 0.5em;
}
</style>
