<template>
  <div id="app">
    <PageHeader tittle="ABCMusicStudio"></PageHeader>
    <div class="columns is-mobile">
      <div class="column">
        <div class="columns is-mobile">
          <div class="column">
            <router-view :key="$route.fullPath"></router-view>
          </div>
        </div>
      </div>
    </div>
    <PageFooter message="Copyright Jean-Yves Mengant 2020-2021" />
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import PageHeader from './components/PageHeader.vue'
import PageFooter from './components/PageFooter.vue'

// global style import
import './sass/global.scss'

@Component({
  components: {
    PageHeader,
    PageFooter
  }
})
export default class MyApp extends Vue {
  mounted() {
    console.log('MainApp Vue Mounted')
    // this.addClass('has-navbar-fixed-top')
  }
}
</script>

<style lang="scss">
#app {
  text-align: center;
}

.columns {
  margin-top: 1.75em;
}
</style>
